# Executables

**/*.o
**/*.out
**/pgmEcho
**/pgmComp
**/pgma2b
**/pgmb2a
**/pgmReduce
**/pgmTile
**/pgmAssemble
zip.sh

# Files and folders

echoDone.zip
bugreport.zip
assignment_1/.idea
assignment_1/pgmEchoCommented.c
